<div class="container" style="text-align: center;">
    <h1>Welcome to id64toguid API</h1>
    <h3>To get GUID</h3>
    <h4>Api response to:</h4> <h4>http://id64toguid.tk/api/guid?steam=your-steamid64-here</h4>
    <p><h3>Where</h3> *guid = method; *? = search query; *steam = typeof data; *your-steamid64-here = steam id 64 number</p>
    <h3>Example: http://id64toguid.tk/api/guid?steam=76561198120289934</h3>
    <br>
    <h3>To get UID</h3>
    <h4>Api response to:</h4> <h4>http://id64toguid.tk/api/uid?steam=your-steamid64-here</h4>
    <p><h3>Where</h3> *uid = method; *? = search query; *steam = typeof data; *your-steamid64-here = steam id 64 number</p>
    <h3>Example: http://id64toguid.tk/api/uid?steam=76561198120289934</h3>
</div>