<div class="wrapper">
  <div class="panel__side">
    <div class="channel blurple">
      <div class="channel__content">
        <i class="fas fa-user"></i>
      </div>
    </div>
    <div class="channel twitter">
      <a href="mailto:hi@daniellenall.com"><div class="channel__content">
        <i class="fas fa-envelope"></i>
        </div></a>
    </div>
  </div>
  <div class="panel__main">
    <div class="panel__main-side">
      <ul id="navlinks" class="list__links">
        
        <a href="#home"><li class="navlink active"><i class="fas fa-home"></i> &nbsp;  Home</li></a>
        <a href="#images"><li class="navlink"><i class="far fa-id-card"></i>  &nbsp; Images</li></a>
        <a href="#projects"><li class="navlink"><i class="fas fa-laptop-code"></i> &nbsp; Other Projects</li></a>
        <a href="/home"><li class="navlink"><i class="fas fa-address-book"></i> &nbsp; DISCORD BOT STATS</li></a>
      </ul>
    
    </div>
    <div class="panel__main-content">
      <section id="home" class="animate__animated animate__fadeIn">
      <h3>Dayz - Arma 3 Discord bot</h3>
      <p>Simple and Usefull</p>
      <p>This is my first project with <a target="_blank" href="https://nodejs.org/en/">Node.js</a>  app design, which I was motivated to make after seeing a few other projects designed around other desktop apps. I thought it would be a fun challenge to take something I use regularly and recreate it.</p>
        
        <div class="orange card animate__animated animate__zoomInRight">
          <h3>Part of one year of Code</h3>
          <p>I am a backend developer, I am 25 years old and I am from Argentina! I hope this project helps you! Here my <a target="_blank" href="https://github.com/siegmund0">GitHub</a> Repo!</p>
        </div>
        <h3>Project Breakdown</h3>
        <p>This discord bot allows you to easily and quickly convert user ID64 to GUID (BattlEye) or UID (Bohemia). In the list you can find all the features:</p>
        <ul>
          <li>Convert Id 64 to GUID: -guid 765611... .</li>
          <li>Convert Id 64 to UID: -uid 765611... .</li>
          <li>Search steam profiles: -steam 765611... .</li>
          <li>Search Dayz servers information: -dayzserverinfo.</li>
          <li>Search Arma 3 servers information: -arma3serverinfo.</li>
          <li>Change prefix in your discord: -setprefix.</li>
          <li>View your discord server info: -discordinfo.</li>
          <li>HELP command: -help.</li>
        </ul>
        <p>The bot will be in constant updates. Any questions, you can find me in this <a target="_blank" href="https://discord.gg/eq2ZcJ9ddF">Discord</a></p>
       </p>
       <div class="orange card animate__animated animate__zoomInLeft">
          <h3>INVITE BOT TO YOUR DISCORD SERVER</h3>
          <p>If you want, you can invite the bot to your discord server with the following button! <a target="_blank" href="https://discordapp.com/api/oauth2/authorize?client_id=706139732073250860&permissions=523328&scope=bot">INVITE BOT</a></p>
        </div>
        <a href="https://top.gg/bot/706139732073250860">
        <img src="https://top.gg/api/widget/706139732073250860.svg" class="rounded mx-auto d-block" alt="Id64ToGuid" />
        </a>
      </section>
      <section id="images">
        <h3>Example Commands</h3>
        <!--Grid row-->
    <div class="row">

      <!--Grid column-->
      <div class="col-lg-4 col-md-12 mb-4">

        <img src="https://i.imgur.com/prQHlMX.png" class="img-fluid mb-1" alt="">

        <img src="https://i.imgur.com/1USa6Fr.png" class="img-fluid mb-1" alt=""
          data-wow-delay="0.3s">

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4">

        <img src="https://i.imgur.com/lu1Vfbn.png" class="img-fluid mb-4" alt=""
          data-wow-delay="0.1s">

        <img src="https://i.imgur.com/wo2FeWX.png" class="img-fluid mb-4" alt=""
          data-wow-delay="0.4s">

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4">

        <img src="https://i.imgur.com/5Td8wp5.png" class="img-fluid mb-4" alt=""
          data-wow-delay="0.2s">

        <img src="https://i.imgur.com/FNRCyL1.png" class="img-fluid mb-4" alt=""
          data-wow-delay="0.5s">

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->
      </section>
      
       <section id="projects">
        <h3>Other Projects</h3>
         
         <div class="card__grid">
           
           <a target="_blank" href="https://github.com/siegmund0/Crud-Perrito" class="blue card card__projects">
           <h4>CRUD Perrito</h4>
             <p>Basic CRUD with Node.js and Mysql for stock control and price management </p>
         </a>
           
           <a target="_blank" href="https://github.com/siegmund0/Dayz-Leaderboard-Web-Developer" class="purple card card__projects">
           <h4>Dayz Leaderboard</h4>
             <p>One of my first projects in PHP + Mysql. Leaderboard for Dayz Servers</p>
         </a>
           <a target="_blank" href="https://github.com/siegmund0/AFRT-Discord-Bot" class="orange card card__projects">
           <h4>AFRT Discord Bot</h4>
             <p>Bot for Discord. It allows to manage Assetto Corsa Competizione servers. Developed for a special discord</p>
         </a>
           <div class="pink card card__projects">
           <h4>Next Project Here</h4>
             <p>I'm working on new things every day, this discord bot project is only my second so far.</p>
         </div>

         </div>
         
         
      </section>
    </div>
  </div>
</div>